<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aircas.ptr.foundry.ontology.repository.dao.OntologyMetaMapper">
    <resultMap id="BaseResultMap" type="com.aircas.ptr.foundry.model.po.OntologyMeta">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="unique_identifier" jdbcType="VARCHAR" property="uniqueIdentifier"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="icon" jdbcType="OTHER" property="icon"/>
        <result column="display_name" jdbcType="VARCHAR" property="displayName"/>
        <result column="plural_display_name" jdbcType="VARCHAR" property="pluralDisplayName"/>
        <result column="backing_datasource_id" jdbcType="VARCHAR" property="backingDatasourceId"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="api_name" jdbcType="VARCHAR" property="apiName"/>
        <result column="visibility" jdbcType="INTEGER" property="visibility"/>
        <result column="experimental_status" jdbcType="INTEGER" property="experimentalStatus"/>
        <result column="index_status" jdbcType="INTEGER" property="indexStatus"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="writeback_flag" jdbcType="INTEGER" property="writebackFlag"/>
        <result column="meta_group_id" jdbcType="VARCHAR" property="metaGroupId"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , "unique_identifier", "status", create_time, update_time, icon, display_name, plural_display_name,
    backing_datasource_id, description, api_name, visibility, experimental_status, index_status,nickname,
    writeback_flag,meta_group_id
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from "ontology_meta"
        where id = #{id,jdbcType=BIGINT} and status = 1
    </select>

    <select id="selectByApi" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from "ontology_meta"
        where api_name = #{api,jdbcType=VARCHAR} and status = 1
    </select>

    <select id="selectByUniqueIdentifier" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from "ontology_meta"
        where unique_identifier = #{uniqueIdentifier,jdbcType=VARCHAR} and status = 1
    </select>

    <select id="selectByUniqueIdentifiers" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from "ontology_meta"
        where status = 1 and unique_identifier in
        <foreach collection="list" index="index" item="uniqueIdentifier" open="(" separator="," close=")">
            #{uniqueIdentifier, jdbcType=VARCHAR}
        </foreach>
    </select>

    <select id="selectAllOntologies" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from "ontology_meta"
        where status = 1
    </select>

    <select id="selectByDisplayName" resultType="java.lang.Integer">
        select
        count(1)
        from "ontology_meta"
        where status = 1
        <if test="displayName != null and displayName != ''">
            and display_name = #{displayName}
        </if>
    </select>

    <select id="getCountByStatus" parameterType="int" resultType="java.lang.Integer">
        select count(1)
        from ontology_meta
        where status = #{status}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from "ontology_meta"
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <update id="deleteByUniqueIdentifier" parameterType="java.lang.String">
        update "ontology_meta"
        set status = 0
        where unique_identifier = #{uniqueIdentifier, jdbcType=VARCHAR}
    </update>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.aircas.ptr.foundry.model.po.OntologyMeta"
            useGeneratedKeys="true">
        insert into "ontology_meta" ("status", create_time, update_time,
                                     icon, display_name, plural_display_name,
                                     backing_datasource_id, description, api_name,
                                     visibility, experimental_status, index_status, nickname,
                                     writeback_flag)
        values (#{uniqueIdentifier,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP},
                #{updateTime,jdbcType=TIMESTAMP},
                #{icon,jdbcType=OTHER}, #{displayName,jdbcType=VARCHAR}, #{pluralDisplayName,jdbcType=VARCHAR},
                #{backingDatasourceId,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{apiName,jdbcType=VARCHAR},
                #{visibility,jdbcType=INTEGER}, #{experimentalStatus,jdbcType=INTEGER}, #{indexStatus,jdbcType=INTEGER}, #{nickname,jdbcType=VARCHAR}
      #{writebackFlag,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.aircas.ptr.foundry.model.po.OntologyMeta" useGeneratedKeys="true">
        insert into "ontology_meta"
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uniqueIdentifier != null">
                "unique_identifier",
            </if>
            <if test="status != null">
                "status",
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="icon != null">
                icon,
            </if>
            <if test="displayName != null">
                display_name,
            </if>
            <if test="pluralDisplayName != null">
                plural_display_name,
            </if>
            <if test="backingDatasourceId != null">
                backing_datasource_id,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="apiName != null">
                api_name,
            </if>
            <if test="visibility != null">
                visibility,
            </if>
            <if test="experimentalStatus != null">
                experimental_status,
            </if>
            <if test="indexStatus != null">
                index_status,
            </if>
            <if test="nickname != null">
                nickname,
            </if>
            <if test="writebackFlag != null">
                writeback_flag,
            </if>
            <if test="metaGroupId != null">
                meta_group_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uniqueIdentifier != null">
                #{uniqueIdentifier,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="icon != null">
                #{icon,jdbcType=OTHER},
            </if>
            <if test="displayName != null">
                #{displayName,jdbcType=VARCHAR},
            </if>
            <if test="pluralDisplayName != null">
                #{pluralDisplayName,jdbcType=VARCHAR},
            </if>
            <if test="backingDatasourceId != null">
                #{backingDatasourceId,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="apiName != null">
                #{apiName,jdbcType=VARCHAR},
            </if>
            <if test="visibility != null">
                #{visibility,jdbcType=INTEGER},
            </if>
            <if test="experimentalStatus != null">
                #{experimentalStatus,jdbcType=INTEGER},
            </if>
            <if test="indexStatus != null">
                #{indexStatus,jdbcType=INTEGER},
            </if>
            <if test="nickname != null">
                #{nickname,jdbcType = VARCHAR},
            </if>
            <if test="writebackFlag != null">
                #{writebackFlag,jdbcType=INTEGER},
            </if>
            <if test="metaGroupId != null">
                #{metaGroupId}
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.aircas.ptr.foundry.model.po.OntologyMeta">
        update "ontology_meta"
        <set>
            <if test="uniqueIdentifier != null">
                unique_identifier = #{uniqueIdentifier,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                "status" = #{status,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="icon != null">
                icon = #{icon,jdbcType=OTHER},
            </if>
            <if test="displayName != null">
                display_name = #{displayName,jdbcType=VARCHAR},
            </if>
            <if test="pluralDisplayName != null">
                plural_display_name = #{pluralDisplayName,jdbcType=VARCHAR},
            </if>
            <if test="backingDatasourceId != null">
                backing_datasource_id = #{backingDatasourceId,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="apiName != null">
                api_name = #{apiName,jdbcType=VARCHAR},
            </if>
            <if test="visibility != null">
                visibility = #{visibility,jdbcType=INTEGER},
            </if>
            <if test="experimentalStatus != null">
                experimental_status = #{experimentalStatus,jdbcType=INTEGER},
            </if>
            <if test="indexStatus != null">
                index_status = #{indexStatus,jdbcType=INTEGER},
            </if>
            <if test="nickname != null">
                nickname = #{nickname,jdbcType = VARCHAR},
            </if>
            <if test="writebackFlag != null">
                writeback_flag = #{writebackFlag,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.aircas.ptr.foundry.model.po.OntologyMeta">
        update "ontology_meta"
        set "status"              = #{status,jdbcType=INTEGER},
            unique_identifier     = #{uniqueIdentifier,jdbcType=VARCHAR},
            create_time           = #{createTime,jdbcType=TIMESTAMP},
            update_time           = #{updateTime,jdbcType=TIMESTAMP},
            icon                  = #{icon,jdbcType=OTHER},
            display_name          = #{displayName,jdbcType=VARCHAR},
            plural_display_name   = #{pluralDisplayName,jdbcType=VARCHAR},
            backing_datasource_id = #{backingDatasourceId,jdbcType=VARCHAR},
            description           = #{description,jdbcType=VARCHAR},
            api_name              = #{apiName,jdbcType=VARCHAR},
            visibility            = #{visibility,jdbcType=INTEGER},
            experimental_status   = #{experimentalStatus,jdbcType=INTEGER},
            index_status          = #{indexStatus,jdbcType=INTEGER},
            nickname              = #{nickname,jdbcType = VARCHAR},
            writeback_flag        = #{writebackFlag,jdbcType=INTEGER}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="searchOntologies" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from "ontology_meta"
        where (display_name like CONCAT('%',#{keyword,jdbcType=VARCHAR},'%')
        or nickname like CONCAT('%',#{keyword,jdbcType=VARCHAR},'%')
        or description like CONCAT('%',#{keyword,jdbcType=VARCHAR},'%'))
        and status = 1
    </select>

    <select id="listOntologiesByGroup" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from "ontology_meta"
        where meta_group_id like CONCAT('%',#{groupId,jdbcType=VARCHAR},'%')
        and status = 1
    </select>
</mapper>