<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aircas.ptr.foundry.ontology.repository.datalakeMapper.ObjectMapper">
    <resultMap id="BaseResultMap" type="com.aircas.ptr.foundry.ontology.model.po.DirectoryItem">
        <result column="primaryKey" jdbcType="VARCHAR" property="primaryKey"/>
        <result column="displayName" jdbcType="VARCHAR" property="displayName"/>
    </resultMap>

    <resultMap id="ObjectResultMap" type="java.util.HashMap">

    </resultMap>


    <select id="queryTableDataByColumn" resultType="java.util.Map">
        SELECT
        <foreach item="value" index="key" collection="columnNames" separator=", ">
            "${key}" AS "${value}"
        </foreach>
        FROM "${tableName}"
        <if test="orderBy != null and orderBy != ''">
            ORDER BY "${orderBy}" DESC
        </if>
    </select>

    <select id="queryPrimaryKeyValue" resultType="java.util.List">
        SELECT "${primaryKeyColumnName}"
        FROM "${tableName}"
    </select>

    <select id="queryPrimaryKeyAndTitleKeyValue" resultType="java.util.HashMap">
        SELECT
        "${primaryKeyColumnName}"
        <if test="titleKeyColumnName != null and titleKeyColumnName != ''">
            , "${titleKeyColumnName}"
        </if>
        FROM "${tableName}"
    </select>

    <!-- 获取列名 -->
    <select id="queryColumnNames" resultType="string">
        SELECT COLUMN_NAME
        FROM INFORMATION_SCHEMA.COLUMNS
        WHERE TABLE_SCHEMA = 'public'
          AND TABLE_NAME = #{tableName}
    </select>

    <select id="queryMapsPage" resultType="java.util.HashMap">
        SELECT
        <if test="columnNames != null and columnNames.size() > 0">
            <foreach item="column" collection="columnNames" separator=",">
                "${column}"
            </foreach>
        </if>
        <if test="columnNames == null or columnNames.size() == 0">
            *
        </if>
        FROM "${tableName}"
        <where>
            <if test="filterColumnName != null and filterColumnName != ''">
                "${filterColumnName}" = #{filterColumnValue}
            </if>
            <if test="hasDeletedField">
                AND "is_deleted" = 0
            </if>
        </where>
        LIMIT ${limit} OFFSET ${offset}
    </select>


    <select id="queryCount" resultType="java.lang.Integer">
        SELECT count(*)
        FROM "${tableName}"
        <where>
            <if test="filterColumnName != null and filterColumnName != ''">
                "${filterColumnName}" = #{filterColumnValue}
            </if>
            <if test="hasDeletedField">
                AND "is_deleted" = 0
            </if>
        </where>
    </select>


    <select id="queryJoinTableData" resultType="java.util.HashMap">
        SELECT
        <if test="joinTableColumnNames != null and joinTableColumnNames.size() > 0">
            <foreach item="column" collection="joinTableColumnNames" separator=",">
                t."${column}"
            </foreach>
        </if>
        <if test="joinTableColumnNames == null or joinTableColumnNames.size() == 0">
            t.*
        </if>
        FROM ${joinTableName} t
        WHERE t."${joinTableKey}" = #{primaryKeyValue}
        ORDER BY t."${joinTableOrderBy}" DESC
        <if test="count != null">
            LIMIT ${count}
        </if>
    </select>


    <select id="queryByPrimaryKey" resultType="java.util.HashMap">
        SELECT
        <if test="columnNames != null and columnNames.size() > 0">
            <foreach item="column" collection="columnNames" separator=",">
                "${column}"
            </foreach>
        </if>
        <if test="columnNames == null or columnNames.size() == 0">
            *
        </if>
        FROM "${tableName}"
        WHERE "${primaryKeyColumn}" = #{primaryKeyValue}
    </select>

    <select id="queryByPrimaryKeyList" resultType="java.util.HashMap">
        SELECT
        <if test="columnNames != null and columnNames.size() > 0">
            <foreach item="column" collection="columnNames" separator=",">
                "${column}"
            </foreach>
        </if>
        <if test="columnNames == null or columnNames.size() == 0">
            *
        </if>
        FROM "${tableName}"
        <if test="primaryKeyValueList != null and primaryKeyValueList.size() > 0">
            WHERE "${primaryKeyColumn}" IN
            <foreach collection="primaryKeyValueList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>


    <update id="updateObject">
        UPDATE "${tableName}"
        SET
        <foreach collection="columnMap" index="key" item="value" separator=",">
            "${key}" = #{value}
        </foreach>
        WHERE "${primaryKeyColumn}" = #{primaryKeyValue}
    </update>


    <insert id="insertObject">
        INSERT INTO "${tableName}"
        (
        <foreach collection="columnMap.keys" item="column" separator=",">
            "${column}"
        </foreach>
        )
        values
        (
        <foreach collection="columnMap.keys" item="column" separator=",">
            #{columnMap[${column}]}
        </foreach>
        )
    </insert>


    <select id="batchInsertObjectReturnKey" resultType="java.lang.Object">
        INSERT INTO "${tableName}"
        (
        <foreach collection="columnValues[0].keys" item="column" separator=",">
            "${column}"
        </foreach>
        )
        VALUES
        <foreach collection="columnValues" item="columnMap" separator=",">
            (
            <foreach collection="columnMap.values()" item="value" separator=",">
                #{value}
            </foreach>
            )
        </foreach>
        RETURNING ${primaryKey};
    </select>


    <select id="batchInsertObject" resultType="java.lang.Object">
        INSERT INTO "${tableName}"
        (
        <foreach collection="columnValues[0].keys" item="column" separator=",">
            "${column}"
        </foreach>
        )
        VALUES
        <foreach collection="columnValues" item="columnMap" separator=",">
            (
            <foreach collection="columnMap.values()" item="value" separator=",">
                #{value}
            </foreach>
            )
        </foreach>
    </select>




    <delete id="deleteByTableName" parameterType="java.lang.String">
        DELETE FROM "${tableName}"
    </delete>


</mapper>

