<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aircas.ptr.foundry.ontology.repository.datalakeMapper.TableMetadataMapper">
    <resultMap id="BaseResultMap" type="com.aircas.ptr.foundry.ontology.model.po.TableColumnDesc">
        <result column="column_name" jdbcType="VARCHAR" property="columnName"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="is_primary_key" jdbcType="BOOLEAN" property="isPrimaryKey"/>
    </resultMap>

    <resultMap id="TableResultMap" type="com.aircas.ptr.foundry.ontology.model.po.DatasourceTable">
        <result column="table_name" jdbcType="VARCHAR" property="tableName"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
    </resultMap>

    <select id="queryColumnMetadata" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT a.attname                                AS column_name,
               col_description(a.attrelid, a.attnum)    AS description,
               pg_catalog.format_type(a.atttypid, null) AS type,
               CASE
                   WHEN pg_index.indkey::text LIKE '%' || a.attnum::text || '%' THEN true
                ELSE false
        END
        AS is_primary_key
        FROM
            pg_class c
        JOIN
            pg_namespace n ON n.oid = c.relnamespace
        JOIN
            pg_attribute a ON a.attrelid = c.oid
        LEFT JOIN
            pg_index ON pg_index.indrelid = c.oid AND pg_index.indisprimary
        WHERE
            c.relkind = 'r'
            AND a.attnum > 0
            AND a.atttypid != 0
            AND c.relname =
        #{tableName}
        ORDER
        BY
        a
        .
        attnum;
    </select>

    <select id="listTables" resultMap="TableResultMap">
        SELECT relname AS table_name, obj_description(relfilenode, 'pg_class') AS description
        from pg_class
        WHERE relkind = 'r'
          and relnamespace = (SELECT oid FROM pg_namespace WHERE nspname = 'public')
        ORDER BY table_name
    </select>


    <!-- 检查表中是否存在某个列 -->
    <select id="isColumnExist" resultType="boolean">
        SELECT EXISTS(
                       SELECT 1
                       FROM information_schema.columns
                       WHERE table_name = #{tableName}
                         AND column_name = #{columnName}
                         AND table_schema = 'public'
                   )
    </select>


    <select id="queryPrimaryKeyColumnName" resultType="string">
        select a.attname AS cloumn_name
        from pg_index i
                 join pg_attribute a on a.attrelid = i.indrelid and a.attnum = any (i.indkey)
        where i.indrelid = '"${tableName}"'::regclass and i.indisprimary
    </select>


    <select id="isTableExist" resultType="boolean">
        SELECT EXISTS(
                       SELECT 1
                       FROM information_schema.tables
                       WHERE table_schema = 'public'
                         AND table_name = #{tableName}
                   )
    </select>


    <insert id="createTable">
        <!-- Create table: id SERIAL PRIMARY KEY + filtered columns -->
        CREATE TABLE "${table.tableName}" (
        id SERIAL PRIMARY KEY,
        <foreach collection="columns" item="col" separator=",">
            <if test="col.columnName != null and col.columnName.toLowerCase() != 'id'">
                 "${col.columnName}" ${col.type}
            </if>
        </foreach>
        );
        <!-- Add comments -->
        COMMENT ON TABLE "${table.tableName}" IS '${table.description}';
        <foreach collection="columns" item="col" separator=";">
            <if test="col.description != null and col.description.trim().length() > 0">
                COMMENT ON COLUMN "${table.tableName}"."${col.columnName}" IS '${col.description}'
            </if>
        </foreach>
    </insert>


    <update id="addColumns">
        <foreach collection="columns" item="col" separator=";">
            DO $$
            BEGIN
                IF EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name = '${tableName}' AND column_name = '${col.columnName}' AND table_schema = 'public') THEN
                    EXECUTE 'ALTER TABLE "${tableName}" ALTER COLUMN "${col.columnName}" TYPE ${col.type} USING "${col.columnName}"::${col.type}';
                ELSE
                    EXECUTE 'ALTER TABLE "${tableName}" ADD COLUMN "${col.columnName}" ${col.type}';
                END IF;
            END $$;
        </foreach>
        <!-- Add comments -->
        <foreach collection="columns" item="col" separator=";">
            <if test="col.description != null and col.description.trim().length() > 0">
                COMMENT ON COLUMN "${tableName}"."${col.columnName}" IS '${col.description}'
            </if>
        </foreach>
    </update>

    

    <update id="dropColumns">
        <if test="columns != null and !columns.isEmpty()">
            ALTER TABLE "${tableName}"
            DROP COLUMN IF EXISTS
            <foreach collection="columns" item="col" separator=", ">
                "${col}"
            </foreach>
        </if>
    </update>


    <update id="dropTable">
        DROP TABLE IF EXISTS "${tableName}"
    </update>


</mapper>