<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aircas.ptr.foundry.ontology.entity.repository.mapper.datalake.DataObjectMapper">
    <resultMap id="BaseResultMap" type="com.aircas.ptr.foundry.ontology.entity.model.po.DirectoryItemPO">
        <result column="primaryKey" jdbcType="VARCHAR" property="primaryKey"/>
        <result column="displayName" jdbcType="VARCHAR" property="displayName"/>
    </resultMap>

    <resultMap id="ObjectResultMap" type="java.util.HashMap">

    </resultMap>


    <select id="queryPrimaryKeyColumnName" resultType="string">
        select a.attname AS cloumn_name
        from pg_index i join pg_attribute a on a.attrelid=i.indrelid and a.attnum=any(i.indkey)
        where i.indrelid='${tableName}'::regclass and i.indisprimary
    </select>

    <select id="queryTableDataByColumn" resultType="java.util.Map">
        SELECT
        <foreach item="value" index="key" collection="columnNames" separator=", ">
            "${key}" AS "${value}"
        </foreach>
        FROM ${tableName}
        <if test="orderBy != null and orderBy != ''">
            ORDER BY "${orderBy}" DESC
        </if>
    </select>

    <select id="checkIdColumnExists" resultType="java.lang.String">
        SELECT
            column_name
        FROM
            information_schema.columns
        WHERE
            table_name = #{tableName}
            AND (column_name = 'id' OR column_name = 'ID')
    </select>


</mapper>

