<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aircas.ptr.foundry.ontology.repository.dao.OntologyPropertyMapper">
  <resultMap id="BaseResultMap" type="com.aircas.ptr.foundry.model.po.OntologyProperty">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="ontology_id" jdbcType="BIGINT" property="ontologyId" />
    <result column="datasource_column_name" jdbcType="VARCHAR" property="datasourceColumnName" />
    <result column="property_type" jdbcType="VARCHAR" property="propertyType" />
    <result column="display_name" jdbcType="VARCHAR" property="displayName" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="visiblity" jdbcType="INTEGER" property="visiblity" />
    <result column="experimental_status" jdbcType="INTEGER" property="experimentalStatus" />
    <result column="api_name" jdbcType="VARCHAR" property="apiName" />
    <result column="is_primary_key" jdbcType="INTEGER" property="isPrimaryKey" />
    <result column="is_title_key" jdbcType="INTEGER" property="isTitleKey" />
    <result column="datasource_id" jdbcType="BIGINT" property="datasourceId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, "status", create_time, update_time, ontology_id, datasource_column_name, property_type, 
    display_name, description, visiblity, experimental_status, api_name, is_primary_key, 
    is_title_key, datasource_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from "ontology_property"
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByOntologyId" resultType="com.aircas.ptr.foundry.model.po.OntologyProperty">
    select
    <include refid="Base_Column_List" />
    from "ontology_property"
    where ontology_id = #{ontologyId,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from "ontology_property"
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.aircas.ptr.foundry.model.po.OntologyProperty" useGeneratedKeys="true">
    insert into "ontology_property" ("status", create_time, update_time, 
      ontology_id, datasource_column_name, property_type, 
      display_name, description, visiblity, 
      experimental_status, api_name, is_primary_key, 
      is_title_key, datasource_id)
    values (#{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
      #{ontologyId,jdbcType=BIGINT}, #{datasourceColumnName,jdbcType=VARCHAR}, #{propertyType,jdbcType=VARCHAR}, 
      #{displayName,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{visiblity,jdbcType=INTEGER}, 
      #{experimentalStatus,jdbcType=INTEGER}, #{apiName,jdbcType=VARCHAR}, #{isPrimaryKey,jdbcType=INTEGER}, 
      #{isTitleKey,jdbcType=INTEGER}, #{datasourceId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.aircas.ptr.foundry.model.po.OntologyProperty" useGeneratedKeys="true">
    insert into "ontology_property"
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="status != null">
        "status",
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="ontologyId != null">
        ontology_id,
      </if>
      <if test="datasourceColumnName != null">
        datasource_column_name,
      </if>
      <if test="propertyType != null">
        property_type,
      </if>
      <if test="displayName != null">
        display_name,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="visiblity != null">
        visiblity,
      </if>
      <if test="experimentalStatus != null">
        experimental_status,
      </if>
      <if test="apiName != null">
        api_name,
      </if>
      <if test="isPrimaryKey != null">
        is_primary_key,
      </if>
      <if test="isTitleKey != null">
        is_title_key,
      </if>
      <if test="datasourceId != null">
        datasource_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ontologyId != null">
        #{ontologyId,jdbcType=BIGINT},
      </if>
      <if test="datasourceColumnName != null">
        #{datasourceColumnName,jdbcType=VARCHAR},
      </if>
      <if test="propertyType != null">
        #{propertyType,jdbcType=VARCHAR},
      </if>
      <if test="displayName != null">
        #{displayName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="visiblity != null">
        #{visiblity,jdbcType=INTEGER},
      </if>
      <if test="experimentalStatus != null">
        #{experimentalStatus,jdbcType=INTEGER},
      </if>
      <if test="apiName != null">
        #{apiName,jdbcType=VARCHAR},
      </if>
      <if test="isPrimaryKey != null">
        #{isPrimaryKey,jdbcType=INTEGER},
      </if>
      <if test="isTitleKey != null">
        #{isTitleKey,jdbcType=INTEGER},
      </if>
      <if test="datasourceId != null">
        #{datasourceId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aircas.ptr.foundry.model.po.OntologyProperty">
    update "ontology_property"
    <set>
      <if test="status != null">
        "status" = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ontologyId != null">
        ontology_id = #{ontologyId,jdbcType=BIGINT},
      </if>
      <if test="datasourceColumnName != null">
        datasource_column_name = #{datasourceColumnName,jdbcType=VARCHAR},
      </if>
      <if test="propertyType != null">
        property_type = #{propertyType,jdbcType=VARCHAR},
      </if>
      <if test="displayName != null">
        display_name = #{displayName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="visiblity != null">
        visiblity = #{visiblity,jdbcType=INTEGER},
      </if>
      <if test="experimentalStatus != null">
        experimental_status = #{experimentalStatus,jdbcType=INTEGER},
      </if>
      <if test="apiName != null">
        api_name = #{apiName,jdbcType=VARCHAR},
      </if>
      <if test="isPrimaryKey != null">
        is_primary_key = #{isPrimaryKey,jdbcType=INTEGER},
      </if>
      <if test="isTitleKey != null">
        is_title_key = #{isTitleKey,jdbcType=INTEGER},
      </if>
      <if test="datasourceId != null">
        datasource_id = #{datasourceId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aircas.ptr.foundry.model.po.OntologyProperty">
    update "ontology_property"
    set "status" = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      ontology_id = #{ontologyId,jdbcType=BIGINT},
      datasource_column_name = #{datasourceColumnName,jdbcType=VARCHAR},
      property_type = #{propertyType,jdbcType=VARCHAR},
      display_name = #{displayName,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      visiblity = #{visiblity,jdbcType=INTEGER},
      experimental_status = #{experimentalStatus,jdbcType=INTEGER},
      api_name = #{apiName,jdbcType=VARCHAR},
      is_primary_key = #{isPrimaryKey,jdbcType=INTEGER},
      is_title_key = #{isTitleKey,jdbcType=INTEGER},
      datasource_id = #{datasourceId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>