<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aircas.ptr.foundry.ontology.entity.repository.mapper.main.EntityTableMapper">

    <sql id="tableColumns">
        <foreach collection="tableDto.fields" item="field" separator=", ">
            <if test="field.isPrimaryKey">
                ${field.fieldName} ${field.fieldType} PRIMARY KEY
            </if>
            <if test="!field.isPrimaryKey">
                ${field.fieldName} ${field.fieldType}
                <if test="!field.isNullable">NOT NULL</if>
            </if>
        </foreach>
    </sql>

    <insert id="createTable">
        CREATE TABLE ${tableDto.tableName}
        (
        <include refid="tableColumns"/>
        );
        <if test="tableDto.tableComment != null and tableDto.tableComment != ''">
            COMMENT ON TABLE ${tableDto.tableName} IS '${tableDto.tableComment}';
        </if>
        <if test="tableDto.fields != null and tableDto.fields.size() > 0">
            <foreach collection="tableDto.fields" item="field" separator=";">
                <if test="field.fieldComment != null and field.fieldComment != ''">
                    COMMENT ON COLUMN ${tableDto.tableName}.${field.fieldName} IS '${field.fieldComment}';
                </if>
            </foreach>
        </if>
    </insert>


    <insert id="batchInsertRows">
        INSERT INTO ${tableName} (
        <foreach item="column" collection="rows[0].keySet" separator=", ">
            ${column}
        </foreach>
        )
        VALUES
        <foreach item="row" collection="rows" separator=", ">
            (
            <foreach item="value" index="column" collection="row.entrySet()" separator=", ">
                #{value}
            </foreach>
            )
        </foreach>
        ON CONFLICT DO NOTHING;
    </insert>


    <select id="copyTable">
        <!-- 创建新表并复制数据 -->
        CREATE TABLE ${newTable} AS
        SELECT * FROM ${srcTable}
    </select>

    <!-- Drop table SQL statement -->
    <update id="dropTable" parameterType="string">
        DROP TABLE IF EXISTS ${tableName}
    </update>

    <select id="selectMapsPage" resultType="java.util.HashMap">
        SELECT * FROM ${tableName} limit ${limit} offset ${offset}
    </select>


    <select id="selectCount" resultType="java.lang.Integer">
        SELECT count(*) FROM ${tableName}
    </select>

    <select id="queryPrimaryKeyColumnName" resultType="string">
        select a.attname AS cloumn_name
        from pg_index i join pg_attribute a on a.attrelid=i.indrelid and a.attnum=any(i.indkey)
        where i.indrelid='${tableName}'::regclass and i.indisprimary
    </select>


    <select id="selectJoinTableData" resultType="java.util.HashMap">
        SELECT t2.*
        FROM ${tableName} t1
        LEFT JOIN ${joinTableName} t2 ON t1.${tableKey} = t2.${joinTableKey}
        WHERE t1.${primaryKeyColumn} = #{primaryKeyValue}
        ORDER BY t2.${joinTableOrderBy} DESC
        <if test="count != null">
            LIMIT ${count}
        </if>
    </select>

    <select id="checkIdColumnExists" resultType="java.lang.String">
        SELECT
            column_name
        FROM
            information_schema.columns
        WHERE
            table_name = #{tableName}
            AND (column_name = 'id' OR column_name = 'ID')
    </select>

    <select id="selectByPrimaryKey" resultType="java.util.HashMap">
        SELECT *
        FROM ${tableName}
        WHERE ${primaryKeyColumn} = #{primaryKeyValue}
    </select>

</mapper>